<!-- Header Area One Start -->
<img src="../../assets/images/project_image/loader.gif" class="loadergif" *ngIf="loading" />
<div *ngIf="!loading">
  <header class="header-one sticky">

    <!-- Header Nav Start -->
    <div class="header-nav">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="header-logo">
              <a href="#"><img src="../../assets/img/sattva/sattva_logo.png" style="width:70% ;" alt=""></a>
            </div>

            <!-- <div class="mob-plt desk-none">
              <a class="sld" href="#" id="sliding-sidebar-btn2"><img src="../assets/img/icons/cracked-bar.png"
                  alt=""></a>
            </div> -->
          </div>

          <div class="col-md-9 cf">

            <div class="header-menu">

              <div class="row db">
                <div class="col-md-12">
                  <ul class="inrpgeti">
                    <li class="download-brochure inrpgetli">
                      <a href="javascript:void()" (click)="open()">Download Brochure <i class="fa fa-download"></i></a>
                    </li>
                    <li class="site_btn stevst" id="myBtn"><a href="javascript:void()" (click)="open()">Schedule
                        Visit</a>
                    </li>
                  </ul>
                </div>
              </div>

              <ul id="main-menu" class="menu-desk">
                <li><a class="active" href="#hero-section-one">Home</a></li>
                <li><a class="" href="#about">About Project</a></li>
                <li><a class="" href="#features">Features</a></li>
                <li><a class="" href="#amenities">Amenities</a></li>
                <li><a class="" href="#plan">Plan</a></li>
                <li><a class="" href="#features">Price</a></li>
                <li><a class="" href="#gallery">Gallery</a></li>
                <li><a class="" href="#location">Location</a></li>
              </ul>

            </div>
          </div>

        </div>

        <!-- <div class="mobile-menu"></div> -->
        <!-- Header Nav End -->
      </div>
    </div>
  </header>
  <!-- Header Area One End -->

  <div class="float-bottom forall desk-none noth">
    <div class="one-box">
      <a href="javascript:void()" (click)="open()">
        <div class="img-icon">
          <i class="far fa-edit"></i>
        </div>
        <div class="txt-icon">
          Enquire Now
        </div>
      </a>
    </div>

  </div>
  <!-- Body Overlay Start -->
  <div class="body-overlay"></div>
  <!-- Body Overlay End -->


  <!-- Hero Section One Start -->
  <section id="hero-section-one">
    <div class="owl-carousel hero-slider">
      <div class="hero-slider-item bg-one" loading="lazy">
      </div>
      <div class="hero-slider-item bg-two" loading="lazy"></div>
      <div class="hero-slider-item bg-three" loading="lazy"></div>
    </div>
    <!-- Hero Slider End -->


    <!-- Hero Scroll Icon Start -->
    <a href="#features" class="scroll-icon smooth-scroll"></a>
    <!-- Hero Scroll Icon End -->
  </section>
  <!-- Hero Section One End -->


  <section class="welcome-sec desk-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome">
            <h2 style="font-size: 2rem;
            background-image: linear-gradient( to right, #ffd841, #b97a0b 80% ) !important;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-family: STIX Two Text;
            text-transform: uppercase;">Ultra-premium residencies facing Osman Sagar and Kokapet Lake</h2>
            <p class="tsr">TS RERA Reg No.: P02400006230/P02400006231</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="welcome-sec mob-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="welcome">
            <h2 style="font-size: 2rem;
            background-image: linear-gradient( to right, #ffd841, #b97a0b 80% ) !important;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-family: STIX Two Text;
            text-transform: uppercase;">Ultra-premium residencies facing Osman Sagar and Kokapet Lake</h2>
            <p class="tsr">TS RERA Reg No.: P02400006230/P02400006231</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="round-sec" id="features">
    <div class="container">
      <div class="row">

        <div class="col-md-12 mob-none">
          <h2 class="part"> <span>Sattva Lakeridge</span> Project Highlights</h2>
        </div>

        <div class="col-md-12 desk-none">
          <h2 class="part"><span>Sattva Lakeridge</span>
            <p>project highlights</p>
          </h2>

        </div>

        <div class="col-md-12">
          <div class="row">

            <div class="col-md-2 col-xs-6 col-6 w-20">
              <div class="single-feature mb-2 hmep">
                <div class="feature-icon services-right">
                  <div class="icon icon-shape bg-color white-text">
                    <img src="../assets/images/amenities-icons/premium.png">
                  </div>
                </div>
                <div class="feature-content services-right">
                  <h5>3, 4, & 5 BHK Flats</h5>
                  <p class="mb-0">Premium Lifestyle Apartments</p>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 col-6 w-20">
              <div class="single-feature mb-2 hmep">
                <div class="feature-icon services-right">
                  <div class="icon icon-shape bg-color white-text">
                    <img src="../assets/images/amenities-icons/acres.png">
                  </div>
                </div>
                <div class="feature-content services-right">
                  <h5>9.5</h5>
                  <p class="mb-0">Acres</p>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-xs-6 col-6 w-20">
              <div class="single-feature mb-2 hmep">
                <div class="feature-icon services-right">
                  <div class="icon icon-shape bg-color white-text">
                    <img src="../assets/images/amenities-icons/tower.png">
                  </div>
                </div>
                <div class="feature-content services-right">
                  <h5>6 Towers</h5>
                  <p class="mb-0">G+37 Floors</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 col-6 w-20">
              <div class="single-feature mb-2 hmep">
                <div class="feature-icon services-right">
                  <div class="icon icon-shape bg-color white-text">
                    <img src="../assets/images/amenities-icons/floor.png">
                  </div>
                </div>
                <div class="feature-content services-right">
                  <h5>Unit Variants</h5>
                  <p class="mb-0">3, 4, & 5 BHK Flats</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="about-sec round-sec" id="about">
    <div class="col-md-12">
      <div class="row">
        <div class="row">

          <div class="col-md-7 col-sm-6 col-xs-6">
            <div class="text-block">
              <h2>Ultra-premium residencies</h2>
              <h5></h5>
              <div class="tbp">
                <p>Sattva LakeRidge is a fine example of the Group’s outstanding designs and features. The project
                  offers 6 magnificent towers with cutting edge amenities at every level. The exclusive ‘Fern tower
                  offers just 2 ultra-spacious apartments per floor and a private elevator for the last word in comfort
                  and convenience.
                </p>
                <p>Welcome to a higher dimension of luxury at Neopolis, Hyderabad. Designed by the best minds in the
                  industry, the 6 marvelous towers at Sattva LakeRidge complement your mindset like nothing else. </p>
                <p>Take lakeside walks when you’re not taking swift drives to everyday victory. Have the sun, the moon,
                  and the stars perform a magical opera for you. Imbibe the calmness of a picturesque lake in all your
                  conquests. Find more time to</p>
                <div class="por">
                  <a href="javascript:void()" (click)="open()">Know More</a>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-5 col-sm-6 col-xs-6 pm0">
            <div class="img-block">
              <img src="../../assets/img/sattva/gallery3.webp" alt="Poulomi Palazo" class="img-fluid">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="bemore-section" id="price">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-borderless border micro-price-table table-pricing">
            <thead>
              <tr>
                <th scope="col" class="border border-bottom-0 mb-w">Type</th>
                <th scope="col" class="border border-bottom-0 mb-w">SBA</th>
                <th scope="col" class="border border-bottom-0 mb-w">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-type">3 BHK
                </td>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">2151 – 3036 S.ft Sq.Ft.(Area)
                </td>
                <td class="price-amt">&#8377; 2.61 – 3.68Cr*</td>
                <td><button class="btn btn-sm btn-info effetGradient effectScale enqModal" (click)="open()">Schedule
                    Now</button></td>
              </tr>
              <tr>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-type">4 BHK
                </td>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">4187 S.ft Sq.Ft.(Area)</td>
                <td class="price-amt">&#8377; 5.29 Cr * OnWards</td>
                <td><button class="btn btn-sm btn-info effetGradient effectScale enqModal" (click)="open()">Schedule
                    Now</button></td>
              </tr>
              <tr>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-type">5 BHK
                </td>
                <td class="border border-left-0 border-top-0 border-bottom-0 price-carpet">5266 – 5472 S.ft Sq.Ft.(Area)
                </td>
                <td class="price-amt">&#8377; 7.13 – 7.41 Cr* OnWards</td>
                <td><button class="btn btn-sm btn-info effetGradient effectScale enqModal" (click)="open()">Schedule
                    Now</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <div style="clear:both;"></div>
  <section class="master-sec pd25" id="plan">
    <div class="container">
      <div class="row">

        <div class="col-md-12 mb10">
          <h2 class="prem">Sattva Lakeridge Plans</h2>
        </div>

        <div class="row">

          <div class="col-md-6">

            <div class="demo-gallery">
              <ul>
                <li>
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/Master-Plan-1-768x813.jpg">
                  </a>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-md-6">
            <div class="col-md-12">
              <h2 class="ftp-end mb20 mplane">Master Plan</h2>
              <h5 class="mplaneh">WITH EXCEPTIONAL PLANNING COMES TRUE INDULGENCE</h5>
              <p class="mplanep">
                Take lakeside walks when you’re not taking swift drives to everyday victory. Have the sun, the moon, and
                the stars perform a magical opera for you. Imbibe the calmness of a picturesque lake in all your
                conquests. Find more time to cherish this opulence. Make the most of this convergence. Make your peers
                envious. Indeed, have no peers.
              </p>
            </div>

            <div class="por mt50">
              <a href="javascript:void()" (click)="open()">Download Brochure</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="master-sec pd25" id="mplan">
    <div class="container ttpbrd">
      <div class="row mb30">

        <div class="col-md-12 mb20 mt20 typ">
          <h2 class="typh2">Typical Tower Plan</h2>
          <h5 class="typh5">An Engimatic Living Experience</h5>
          <div class="typp">
            <p>Beautiful landscapes, and over 9.5 acres of lush open green spaces all around Sattva Lakeridge make
              it
              more special & Elite.Amenities at Sattva Lakeridge include a landmark , landscaped gardens, a gymnasium,
              multiple swimming pools, recreation
              areas, outdoor sports courts, children’s play areas, party halls, viewing and stargazing decks, and
              meticulously planned with utmost importance to state-of-the-art 24/7 security.</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">

            <div class="col-md-12 mb10">
              <h2 class="ttplan">Alpine Layout</h2>
            </div>

            <div id="demo2" class="demo-gallery carousel slide" data-ride="carousel">

              <ul class="carousel-indicators">
                <li data-target="#demo2" data-slide-to="0" class="active"></li>
              </ul>

              <ul class="carousel-inner flor indf">


                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan1.webp">
                    <div class="overlay">
                      <h3>Alpine Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4">

            <div class="col-md-12">
              <h2 class="ttplan">Birch Layout</h2>
            </div>


            <div id="demo3" class="carousel slide" data-ride="carousel">

              <ul class="carousel-indicators">
                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                <li data-target="#demo3" data-slide-to="1"></li>
              </ul>

              <ul class="carousel-inner flor indf">

                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan2.webp">
                    <div class="overlay">
                      <h3>6605 sq.ft. Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">

            <div class="col-md-12">
              <h2 class="ttplan">Fern Layout</h2>
            </div>

            <div id="demo3" class="carousel slide" data-ride="carousel">

              <ul class="carousel-inner flor indf">

                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan3.webp">
                    <div class="overlay">
                      <h3>6605 sq.ft. Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">

            <div class="col-md-12">
              <h2 class="ttplan">Deodar Layout</h2>
            </div>


            <div id="demo3" class="carousel slide" data-ride="carousel">

              <ul class="carousel-inner flor indf">

                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan4.webp">
                    <div class="overlay">
                      <h3>6605 sq.ft. Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">

            <div class="col-md-12">
              <h2 class="ttplan">Ebony Layout</h2>
            </div>


            <div id="demo3" class="carousel slide" data-ride="carousel">

              <ul class="carousel-indicators">
                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                <li data-target="#demo3" data-slide-to="1"></li>
              </ul>

              <ul class="carousel-inner flor indf">

                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan5.webp">
                    <div class="overlay">
                      <h3>6605 sq.ft. Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">

            <div class="col-md-12">
              <h2 class="ttplan">Cedar Layout</h2>
            </div>


            <div id="demo3" class="carousel slide" data-ride="carousel">

              <ul class="carousel-indicators">
                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                <li data-target="#demo3" data-slide-to="1"></li>
              </ul>

              <ul class="carousel-inner flor indf">

                <li class="carousel-item active">
                  <a href="javascript:void()" (click)="open()" class="hovereffect ctr">
                    <img class="img-responsive" src="../../assets/img/sattva/floorplan6.webp">
                    <div class="overlay">
                      <h3>6605 sq.ft. Layout</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="project pd25" id="gallery">
    <div class="container bdr pd25">
      <div class="row">

        <div class="col-md-10 offset-md-1 pr0">

          <div class="">
            <h2 class="rig">Sattva Lakeridge Gallery</h2>
          </div>

          <div class="tabbable boxed parentTabs ptm ptt15">

            <div class="col-md-12">

              <div class="tab-content">

                <div class="tab-pane fade active in imgi show">

                  <div class="demo-gallery uld row">
                    <ul id="lightgalleryp5">
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery1.webp"
                        data-src="../../assets/img/sattva/gallery1.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery1.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery10.webp"
                        data-src="../../assets/img/sattva/gallery10.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery10.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery11.webp"
                        data-src="../../assets/img/sattva/gallery11.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery11.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery12.webp"
                        data-src="../../assets/img/sattva/gallery12.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery12.webp">
                        </a>
                      </li>

                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery2.webp"
                        data-src="../../assets/img/sattva/gallery2.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery2.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/Lake-Ridge-banner-2.webp"
                        data-src="../../assets/img/sattva/Lake-Ridge-banner-2.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive imgh" src="../../assets/img/sattva/Lake-Ridge-banner-2.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery3.webp"
                        data-src="../../assets/img/sattva/gallery3.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery3.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery5.webp"
                        data-src="../../assets/img/sattva/gallery5.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery5.webp">
                        </a>
                      </li>
                      <li class="col-md-4 cf" data-responsive="../../assets/img/sattva/gallery4.webp"
                        data-src="../../assets/img/sattva/gallery4.webp">
                        <a href="" class="cntr">
                          <img class="img-responsive" src="../../assets/img/sattva/gallery4.webp">
                        </a>
                      </li>


                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </section>
  <section class="section shadow-sm lazyload doso hbby" id="amenities">
    <div class="container-fluid">
      <div class="nav nav-pills mb-3">
        <div class="row">
          <div class="col-md-12">
            <div class="elevate-txt tc expe">
              <h2>EXPERIENCE AN ELEVATED LIFESTYLE. LIVE LARGE.</h2>
            </div>
          </div>
          <div class="row justify-content-center flex">
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/pool-table.png" class="lazyload ami-img"> <span
                    class="ami-title">Billiards</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/tennis-court.png" class="lazyload ami-img">
                  <span class="ami-title">Indoor Badminton Court's</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/basketball-court.svg" class="lazyload ami-img">
                  <span class="ami-title">Half Basketball Court</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/football.png" class="lazyload ami-img"> <span
                    class="ami-title">Mini Football Court</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/lawn.svg" class="lazyload ami-img"> <span
                    class="ami-title">Lawn</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/fitness.png" class="lazyload ami-img"> <span
                    class="ami-title">Gym</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/yoga.svg" class="lazyload ami-img"> <span
                    class="ami-title">Aerobics And Dance Room</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/swimming.svg" class="lazyload ami-img"> <span
                    class="ami-title">Swimming Pool</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/lounge.svg" class="lazyload ami-img"> <span
                    class="ami-title">Terrace Sitting Area</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/kids-play-area.svg" class="lazyload ami-img">
                  <span class="ami-title">Children Play Area</span>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/seating.svg" class="lazyload ami-img"> <span
                    class="ami-title">Lawn</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/cyclist.png" class="lazyload ami-img"> <span
                    class="ami-title">Cycling Track</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/caduceus.png" class="lazyload ami-img"> <span
                    class="ami-title">Clinic</span> </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
              <div class="ami-block ami-6">
                <div class="ami-container"> <img src="../../assets/icon/hall.png" class="lazyload ami-img"> <span
                    class="ami-title">Banquet Hall With Kitchen</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro calcd" id="location">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="content-box aboutus mt20">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15228.664206638845!2d78.314175!3d17.403817!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x49c181bb18e753b%3A0xd09ba04549535a5f!2sSattva%20Lakeridge%20Neopolis!5e0!3m2!1sen!2sin!4v1701298627304!5m2!1sen!2sin"
              width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="rp-sec mt0" id="faq-section">
    <div class="container brd pt20">
      <div class="row">

        <div class="col-md-12 mb20">
          <h2 class="nh2 mb20">Sattva Lakeridge Neighbourhood</h2>
          <h5 class="nh5">Stay In Proximity To Life's Best Essentials</h5>
          <div class="p-txt-blck mt20">
            <p>The Existing Residents of Kokapet Gave It an Average Rating of 4.0, out Of 5. Kokapet Is a Luxury
              Locality to Buy an Apartment, as Compared to Other Areas in The Surrounding Areas. This Locality Ranks #4
              in Top 100 in West Hyderabad.You are connected to the best that Kokapet has to offer! In vicinity to the
              IT Hubs of Financial District
              & DLF Cyber City, Gachbowli and with ingress to Outer Ring Road (ORR) which is just 4 kms from Sattva
              Lakeridge. This premium lifestyle gated community project in Kokapet is located in close proximity to
              several
              international schools, reputed educational and sports academies, MNC’s and BFSIs, 5-star hotels,
              restaurants, shopping malls and all conveniences of life. The 100 feet road connectivity to the ORR exit
              from Kokapet offers a smooth drive for commuters to reach their destinations easily.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="accordion" id="accordionn1">

            <div class="card">
              <div class="card-header" id="headingn1">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsen1"
                    aria-expanded="true" aria-controls="collapsen1">Educational Institutes
                    <img class="arrow-icon" src="../assets/img/icons/arrow-up-light.png" alt="">
                  </button>
                </h3>
              </div>

              <div id="collapsen1" class="collapse" aria-labelledby="headingn1" data-parent="#accordionn1">
                <div class="card-body">
                  <ul>
                    <li>Glendale International School: 11 mins Drive, 4.7 Kms</li>
                    <li>Manthan International school: 12 mins Drive, 5.6 Kms</li>
                    <li>Birla Open Minds Preschool: 15 mins Drive, 6.7 Kms</li>
                    <li>Epistemo Global School: 20 Mins drive, 8.4 Kms</li>
                    <li>Rockwell International School: 26 Mins drive, 14.3 Kms</li>
                    <li>Oakridge International School: 28 Mins Drive, 13.9 Kms</li>
                    <li>Phoenix Greens School Of Learning: 30 Mins drive, 15 Kms</li>
                    <li>Indian School of Business: 32 Mins drive, 15 Kms</li>
                    <li>IIIT Hyderabad: 28 mins Drive, 13.8 Kms</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingn2">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsen2"
                    aria-expanded="false" aria-controls="collapsen2">Healthcare Facilities
                    <img class="arrow-icon" src="../assets/img/icons/arrow-up-light.png" alt="">
                  </button>
                </h3>
              </div>
              <div id="collapsen2" class="collapse" aria-labelledby="headingn2" data-parent="#accordionn1">
                <div class="card-body">
                  <ul>
                    <li>Citizens Hospital: 18 mins Drive - 7.6 kms</li>
                    <li>Continental Hospital: 26 mins Drive - 11 kms</li>
                    <li>Apollo Spectra Hospitals: 30 Mins Drive - 14.5 Kms</li>
                    <li>Care Hospital: 30 Mins Drive - 16 Kms</li>
                    <li>AIG Hospital: 34 Mins Drive - 16 Kms</li>
                    <li>Sunshine Hospitals: 35 Mins Drive - 17 Kms</li>
                    <li>Medicover Hospitals: 35 Mins Drive - 17 Kms</li>
                    <li>Image Hospitals: 41 Mins Drive - 18 Kms</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="col-md-6">
          <div class="accordion" id="accordionn11">

            <div class="card">
              <div class="card-header" id="headingn11">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsen11"
                    aria-expanded="true" aria-controls="collapsen11">Entertainment & Recreation/Fine-dining
                    <img class="arrow-icon" src="../assets/img/icons/arrow-up-light.png" alt="">
                  </button>
                </h3>
              </div>

              <div id="collapsen11" class="collapse" aria-labelledby="headingn11" data-parent="#accordionn11">
                <div class="card-body">
                  <ul>
                    <li>Prism Club & Kitchen: 20 Mins Drive - 11 Kms</li>
                    <li>Zega: 26 Mins Drive - 11.6 Kms</li>
                    <li>Emaar Boulder Hills Golf & Country Club: 25 Mins Drive - 12.5 Kms</li>
                    <li>Meghavi Spa & Wellness: 25 Mins Drive - 12.5 Kms</li>
                    <li>Sky Zone: 25 Mins Drive - 13 Kms</li>
                    <li>Sarath City Capital Mall: 30 Mins Drive - 14.3 Kms</li>
                    <li>AMB Cinemas: 30 Mins Drive - 14.3 Kms</li>
                    <li>IKEA: 35 Mins Drive - 17.5 Kms</li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingn12">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsen12"
                    aria-expanded="false" aria-controls="collapsen12">Corporate & MNC'S
                    <img class="arrow-icon" src="../assets/img/icons/arrow-up-light.png" alt="">
                  </button>
                </h3>
              </div>
              <div id="collapsen12" class="collapse" aria-labelledby="headingn12" data-parent="#accordionn11">
                <div class="card-body">
                  <ul>
                    <li>Wipro: 23 Mins Drive - 11.3 Kms</li>
                    <li>Microsoft: 24 Mins Drive - 12 kms</li>
                    <li>Infosys: 24 Mins Drive - 12 Kms</li>
                    <li>Google Campus Financial Dist: 25 Mins Drive - 12 kms</li>
                    <li>Amazon Development Center: 27 Mins Drive - 13 Kms</li>
                    <li>Waverock: 27 Mins Drive - 13 Kms</li>
                    <li>TCS Synergy Park: 27 Mins Drive - 14 Kms</li>
                    <li>DLF Cyber City: 30 Mins - 14.8 Kms</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>



  <!-- 
  <section class="rp-sec mt0 p0" id="specifications-section">
    <div class="container brd pt25">
      <div class="row">
  
        <div class="col-md-12">
          <h2 class="ftp-end mb20">Sattva Lakeridge Specifications</h2>
        </div>
  
        <div class="col-md-12">
          <div class="accordion" id="accordion11">
  
            <div class="card">
              <div class="card-header" id="heading11">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11"
                    aria-expanded="true" aria-controls="collapse11">Specifications
                    <img class="arrow-icon" src="../assets/img/icons/arrow-up-light.png" alt="">
                  </button>
                </h3>
              </div>
  
              <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion11">
                <div class="card-body">
  
                  <p><span>Structure : </span></p>
                  <ul>
                    <li>R.C.C. framed structure to withstand wind & seismic loads.</li>
                    <li>Super Structure: All internal and external walls are RCC Shear walls.</li>
                    <li>Cement Block masonry walls for Non structural walls (Wherever required)</li>
                  </ul>
                  <p><span>Living & Dining: </span> 800 x 800 mm size Double Charged Vitrified Tiles of Reputed Make
                    with spacer joints</p>
  
                  <p><span>All Bedrooms & Kitchen: </span> 800 x 800 mm size Double Charged Vitrified Tiles of Reputed
                    Make with spacer joints</p>
  
                  <p><span>All Balconies: </span> Anti-skid ceramic tiles of best brand</p>
  
                  <p><span>Bathrooms: </span> Acid Resistant, Anti-Skid Ceramic Tiles of Reputed Make</p>
  
                  <p><span>Corridors: </span> Vitrified tiles of Reputed Make with spacer joints</p>
  
                  <p><span>Staircase: </span> Tandur/Kota stone</p>
  
                  <p><span>Internal Walls: </span> Smooth putty finish with 2 Coats of Premium Acrylic Emulsion Paint of
                    Reputed make over a Coat of Primer.</p>
  
                  <p><span>External Walls: </span> Textured finish and Two Coats of Exterior Emulsion Paint of Reputed
                    Make.</p>
  
                  <p><span>Bathrooms: </span> Glazed / Matt finish Ceramic tiles dado up to 7' height.</p>
  
                  <p><span>Utility Area: </span> Ceramic tile dado up-to 3 feet height and Flooring with Matt finish.
                  </p>
  
                  <p><span>Kitchen: </span> Provision for municipal water connection</p>
  
                  <p><span>Utility /Wash Area: </span> Provision for washing machine, dish washer & wet area for washing
                    utensils etc.</p>
  
                  <p><span>Main Door : </span> Engineered/Hard wood frame finished with melamine spray finish on
                    veneered flush shutters with reputed hardware.</p>
  
                  <p><span>Internal Doors : </span> Engineered / Hard Wood Door Frame & Laminate Shutter and Hardware of
                    Reputed make.</p>
  
                  <p><span>French Doors : </span> UPVC door frames with float glass panelled sliding shutters with
                    provision for mosquito mesh track.</p>
  
                  <p><span>Windows : </span> UPVC window glazing system with sliding / casement shutters with provision
                    for mosquito mesh track.</p>
  
                  <p><span>Window Grills : </span> MS Grills provided to ground floor flats only. Standard design Window
                    Grills for upper floors will be provided at extra cost.</p>
  
                  <p><span>Utility Doors : </span> UPVC Door Frame with Combination of Tinted Float Glass & Laminated
                    MDF Panel.</p>
  
                  <p><span>Bathrooms : </span></p>
                  <ul>
                    <li>Premium quality ceramic wash basins of best brand</li>
                    <li>Premium quality wall mounted EWC of best brand</li>
                    <li>Premium quality concealed flush tank of best brand</li>
                    <li>Premium quality single lever C.P fittings of best brand</li>
                    <li>Provision for geysers in all bathrooms</li>
                    <li>Metered Water supply to all flats</li>
                  </ul>
  
  
                  <p><span>Cable TV : </span> Provision for cable connection in living room and in all bedrooms</p>
  
                  <p><span>Internet : </span> Provision for high speed internet connection in living room and master/all
                    bedrooms</p>
  
                  <p><span>LPG/PNG : </span> Supply of LPG/ PNG with piped gas system</p>
  
                  <p><span>Generator : </span> 100% D.G backup with Acoustic enclosure</p>
  
                  <p><span>Parking Management : </span> Entire parking is well designed to suit the number of Car Parks
                    provided parking signages and equipment installed at required places to ease the driving</p>
  
                  <p><span>Facilities For Physically Challenged : </span> Access ramps at all block entrances for
                    differently-abled.</p>
  
                  <p><span>Security / BMS : </span></p>
                  <ul>
                    <li>Sophisticated round-the-clock security / Surveillance System</li>
                    <li>BMS for electricity consumption with prepaid card system</li>
                    <li>Surveillance cameras at the main security and entrance of each block to monitor and CCTV camera
                      inside the lifts</li>
                    <li>Panic button and intercom facility in the lifts connected to the security room.</li>
                    <li>Solar power fencing around the compound</li>
                  </ul>
  
  
                  <p><span>Electrical : </span></p>
                  <ul>
                    <li>Power outlets for air conditioners in living, dining and bedrooms</li>
                    <li>Power outlet for geysers in all bathrooms</li>
                    <li>Power plug for hob, chimney, water purifier, exhaust fan, refrigerator, microwave oven, mixer /
                      grinder in kitchen, washing machine /dishwasher in utility area</li>
                    <li>Three phase supply for each unit and individual prepaid metres</li>
                    <li>Miniature Circuit Breakers (MCB) for each distribution board of reputed make</li>
                    <li>Modular switches of reputed make</li>
                  </ul>
  
                  <p><span>Telecom : </span></p>
                  <ul>
                    <li>Telephone points in living room and master bedroom</li>
                    <li>Intercom facility to all the units connecting Security and Neighbourhood</li>
                  </ul>
  
                  <p><span>Solar : </span> Solar Hot Water is Provided for Master Bed Room Toilets in top floor</p>
  
                  <p><span>Fire & Safety : </span></p>
                  <ul>
                    <li>Fire hydrant and fire sprinkler system in all floors and basements</li>
                    <li>Fire alarm and Public Address system in all floors and basements</li>
                  </ul>
  
                  <p><span>Lifts : </span></p>
                  <ul>
                    <li>6 no's High speed automatic elevators per block of reputed make with rescue device and with V3F
                      for energy efficiency with granite / tile cladding for lift entrance</li>
                    <li>2 service elevators for each block of reputed make with rescue device and with V3F for energy
                      efficiency, entrance with granite / tile cladding on lift entrance</li>
                  </ul>
  
                  <p><span>WTP & STP : </span></p>
                  <ul>
                    <li>Fully treated water will be made available through an exclusive water softening plant</li>
                    <li>Hydro-pneumatic system for even pressure water supply at all floors</li>
                    <li>A Sewage Treatment plant of adequate capacity inside the project, treated sewage water will be
                      used for the landscaping and flushing purpose</li>
                    <li>Rain Water Harvesting at regular intervals provided for recharging ground water levels</li>
                  </ul>
  
                  <p><span>Billing System : </span> Automated billing system for Water, Power & LPG / CNG supply</p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="rp-sec mt0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="rp-div">
            <div class="rp-div-p">
              <h2 class="nh2 mb20">About The Builder</h2>
              <p>Raghava is a property development company in Hyderabad. It is committed to transforming the dreams of
                customers of buying property into a reality. The main focus of the firm is on developing projects with
                uncompromising standards of quality. It ensures that it meets the special demands of its discerning
                customers and provide them with the best option in today's real estate market.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



  <section class="social-icon-section desk-none">
    <div class="container ftop">
      <div class="row">

        <div class="foot-top">
          <div class="col-md-12">

            <div style="clear: both;" class="reg-h">
              <h2 class="regi">Register Now to EXPERIENCE MORE LIFE per Sq. Ft.</h2>
            </div>

            <div class="foot-mail">
              <form class="form-inline" [formGroup]="myForm" (ngSubmit)="OnSave()" novalidate>

                <div class="form-group">
                  <input type="text" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.name"
                    name="form_name" formControlName="name" placeholder="First Name, Last Name" required>
                  <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="myForm.controls['name'].errors?.required">Please enter name</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.email"
                    name="form_email" formControlName="email" placeholder="Your Email" required>
                  <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="myForm.controls['email'].errors?.required">Please enter email id
                    </div>
                    <div *ngIf="myForm.controls['email'].errors?.pattern">invalid email id</div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <input type="tel" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.phone"
                    formControlName="phone" name="form_phone" placeholder="Your phone" required>
                  <div *ngIf="myForm.controls['phone'].touched && myForm.controls['phone'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="myForm.controls['phone'].errors?.required">Please enter mobile
                      number</div>
                    <div *ngIf="myForm.controls['phone'].errors?.pattern">Mobile number is not 10
                      digit</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="message" id="fmmsg" class="form-control" placeholder="Message">
                </div>

                <div class="form-group">
                  <input type="submit" class="btn button-primary submi" [disabled]="!myForm.valid" name="subm"
                    value="Submit">
                  <input type="submit" id="fmsbmt" style="display:none;" class="btn btn-block btn-primary"
                    value="Submitting Details" disabled>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <footer class="pgl-footer">

    <section class="social-icon-section mob-none">
      <div class="container ftop">
        <div class="row">

          <div class="foot-top">

            <div class="col-md-12">
              <div class="reg-h">
                <h2 class="regi">Register Now to EXPERIENCE MORE LIFE per Sq. Ft.</h2>
              </div>
            </div>

            <div style="clear: both;"></div>

            <div class="col-md-12">
              <div class="container">
                <div class="foot-mail">
                  <form class="form-inline" [formGroup]="myForm" (ngSubmit)="OnSave()" novalidate>

                    <div class="form-group">
                      <input type="text" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.name"
                        name="form_name" formControlName="name" placeholder="First Name, Last Name" required>
                      <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['name'].errors?.required">Please enter name</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.email"
                        name="form_email" formControlName="email" placeholder="Your Email" required>
                      <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['email'].errors?.required">Please enter email id
                        </div>
                        <div *ngIf="myForm.controls['email'].errors?.pattern">invalid email id</div>
                      </div>
                    </div>
                    <div class="form-group mb-2">
                      <input type="tel" class="form-control rounded-0 micro-form-field" [(ngModel)]="user.phone"
                        formControlName="phone" name="form_phone" placeholder="Your phone" required>
                      <div *ngIf="myForm.controls['phone'].touched && myForm.controls['phone'].invalid"
                        class="alert alert-danger">
                        <div *ngIf="myForm.controls['phone'].errors?.required">Please enter mobile
                          number</div>
                        <div *ngIf="myForm.controls['phone'].errors?.pattern">Mobile number is not 10
                          digit</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" name="message" id="fmmsg" class="form-control" placeholder="Message">
                    </div>

                    <div class="form-group">
                      <input type="submit" class="btn button-primary submi" [disabled]="!myForm.valid" name="subm"
                        value="Submit">
                      <input type="submit" id="fmsbmt" style="display:none;" class="btn btn-block btn-primary"
                        value="Submitting Details" disabled>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <div style="margin-top: 10px;">
      <p>Disclaimer : The content is for information purposes only and does not constitute an offer to avail of any
        service. Prices mentioned are subject to change without notice and properties mentioned are subject to
        availability. Images for representation purposes only. This is the official website of authorized marketing
        partner. We may share data with RERA registered brokers/companies for further processing. We may also send
        updates to the phone number/email id registered with us. All Rights Reserved.</p>
    </div>

  </footer>


  <!-- Scroll To Top Start -->
  <div id="scroll-to-top">
    <i class="fas fa-angle-up"></i>
  </div>
  <!-- Scroll To Top End -->
</div>